
parameters:
- name: python_version
  type: string
- name: aml_endpoint_name
  type: string
- name: aml_deployment_name
  type: string

steps:

  - task: AzureCLI@2
    displayName: 'Create new batch endpoint if not exists'
    inputs:
      azureSubscription: '$(AmlServiceConnection)'
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: |
        ENDPOINT_EXISTS=$(az ml batch-endpoint list -o tsv --query "[?name=='${{ parameters.aml_endpoint_name }}'][name]" --resource-group $(AmlResourceGroup) --workspace-name $(AmlWorkspaceName) | wc -l)

        if [[ ENDPOINT_EXISTS -ne 1 ]]; then
            echo "Endpoint does not exist, create new endpoint"
            az ml batch-endpoint create --file batch-endpoint.yml --name ${{ parameters.aml_endpoint_name }} --resource-group $(AmlResourceGroup) --workspace-name $(AmlWorkspaceName)
        else
            echo "Endpoint exists"
        fi
        az ml batch-endpoint show --name ${{ parameters.aml_endpoint_name }} --resource-group $(AmlResourceGroup) --workspace-name $(AmlWorkspaceName)
      workingDirectory: '$(Build.SourcesDirectory)/aml_deployments/batch/'

  - task: AzureCLI@2
    displayName: 'Create new batch deployment'
    inputs:
      azureSubscription: '$(AmlServiceConnection)'
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: |
          set -o xtrace

          # Maximum number of deployments per endpoint (MS limit)
          MAX_DEPLOYMENTS=20

          # Get current number of deployments
          DEPLOYMENTS=$(az ml batch-deployment list --endpoint-name ${{ parameters.aml_endpoint_name }} --resource-group $(AmlResourceGroup) --workspace-name $(AmlWorkspaceName) --query "[].name" --output tsv)
          NUMBER_DEPLOYMENTS=$(echo $DEPLOYMENTS | wc -w)
          if [[ $NUMBER_DEPLOYMENTS -eq $MAX_DEPLOYMENTS ]]
          then
              OLDEST_DEPLOYMENT=$(echo $DEPLOYMENTS | cut -d ' ' -f1)
              echo "There are already $MAX_DEPLOYMENTS batch deployments in batch endpoint ${{ parameters.aml_endpoint_name }}, we need to delete deployment $OLDEST_DEPLOYMENT to proceed..."
              
              # We cannot delete default deployment. If the oldest deployment is default, we delete second oldest.
              DEFAULT_DEPLOYMENT=$(az ml batch-endpoint show --name ${{ parameters.aml_endpoint_name }} --resource-group $(AmlResourceGroup) --workspace-name $(AmlWorkspaceName) --query "defaults.deployment_name" --output tsv)
              if [[ $OLDEST_DEPLOYMENT -eq $DEFAULT_DEPLOYMENT ]]
              then
                  SECOND_OLDEST_DEPLOYMENT=$(echo $DEPLOYMENTS | cut -d ' ' -f2)
                  echo "Deployment $OLDEST_DEPLOYMENT is set to default for the endpoint ${{ parameters.aml_endpoint_name }}, we delete deployment $SECOND_OLDEST_DEPLOYMENT"
                  az ml batch-deployment delete --name $SECOND_OLDEST_DEPLOYMENT --endpoint-name ${{ parameters.aml_endpoint_name }} --resource-group $(AmlResourceGroup) --workspace-name $(AmlWorkspaceName) --yes
              else
                  echo "Deployment $OLDEST_DEPLOYMENT is not set to default for the endpoint ${{ parameters.aml_endpoint_name }}, we delete deployment $OLDEST_DEPLOYMENT"
                  az ml batch-deployment delete --name $OLDEST_DEPLOYMENT --endpoint-name ${{ parameters.aml_endpoint_name }} --resource-group $(AmlResourceGroup) --workspace-name $(AmlWorkspaceName) --yes
              fi
          fi

          az ml batch-deployment create --file batch-pipeline-deployment.yml --name ${{ parameters.aml_deployment_name }} --endpoint-name ${{ parameters.aml_endpoint_name }} --resource-group $(AmlResourceGroup) --workspace-name $(AmlWorkspaceName)
          az ml batch-deployment show --name ${{ parameters.aml_deployment_name }} --endpoint-name ${{ parameters.aml_endpoint_name }} --resource-group $(AmlResourceGroup) --workspace-name $(AmlWorkspaceName)
      workingDirectory: '$(Build.SourcesDirectory)/aml_deployments/batch/'

  - task: UsePythonVersion@0
    inputs:
      versionSpec: '${{ parameters.python_version }}'
      addToPath: true
      architecture: 'x64'
    displayName: 'Use Python ${{ parameters.python_version }}'

  - task: Bash@3
    inputs:
      targetType: 'inline'
      script: |
        python -m pip install --upgrade pip
        python -m pip install azure-ai-ml
    displayName: 'Install AzureML Python SDK v2'

  - task: AzureKeyVault@2
    displayName: 'Obtain credentials from Key Vault'
    inputs:
      azureSubscription: $(AmlServiceConnection)
      KeyVaultName: $(AmlKeyvaultName)
      SecretsFilter: 'AML-CLIENT-ID,AML-CLIENT-SECRET,AML-TENANT-ID,AML-SUBSCRIPTION-ID'

  - task: PythonScript@0
    displayName: 'Invoke new batch endpoint with test data'
    inputs:
      scriptSource: 'filePath'
      scriptPath: 'devops_pipelines/scripts/invoke_batch_endpoint.py'
      arguments: '--endpoint_name ${{ parameters.aml_endpoint_name }} --deployment_name ${{ parameters.aml_deployment_name }} --input_data azureml://datastores/[datastore_name]/paths/[folder_on_datastore]/input/2000/01/01/ --output_data azureml://datastores/[datastore_name]/paths/[folder_on_datastore]/predictions/$(Build.BuildNumber)/predictions.csv'
    env:
      AZURE_CLIENT_ID: $(AML-CLIENT-ID)
      AZURE_CLIENT_SECRET: $(AML-CLIENT-SECRET)
      AZURE_TENANT_ID: $(AML-TENANT-ID)
      AML_SUBSCRIPTION_ID: $(AML-SUBSCRIPTION-ID)
      AML_RESOURCE_GROUP: $(AmlResourceGroup)
      AML_WORKSPACE_NAME: $(AmlWorkspaceName)
