
parameters:
- name: aml_job_name
  type: string

steps:

  - task: ChangedFiles@2
    name: CheckChangesScheduledPipeline
    inputs:
      # also add environment and components to recreate when they change
      rules: |
        [pipelinejob]
        aml_deployments/environments/**/*.yml
        aml_deployments/components/**/*.yml
        aml_deployments/scheduled_pipeline/pipeline_job.yml
        [schedule]
        aml_deployments/environments/**/*.yml
        aml_deployments/components/**/*.yml
        aml_deployments/scheduled_pipeline/*.yml

  - task: AzureCLI@2
    # register and run new pipelinejob, so we can link the new schedule to this job.
    # you can also link the schedule to a yml definition of a pipelinejob (so you don't need this extra run),
    # but then we cannot easily pass all parameters as done in the inlineScript below 
    displayName: 'Register new pipelineJob version'
    # update if pipelineJob definition or underlying component has changed
    condition: and(succeeded(), eq(variables['CheckChangesScheduledPipeline.pipelinejob'], 'true'))
    inputs:
      azureSubscription: '$(AmlServiceConnection)'
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: >
        az ml job create --file pipeline_job.yml
        --resource-group $(AmlResourceGroup)
        --workspace-name $(AmlWorkspaceName)
        --name ${{ parameters.aml_job_name }}
        --set jobs.component_a.environment_variables.KEY_VAULT_NAME=$(AmlKeyvaultName)
        --set tags.branch=$(Build.SourceBranch)
        --set tags.commit=$(Build.SourceVersion)
      # Above we gave an example how to pass environment variables to jobs. See component_a_script for an example.
      workingDirectory: '$(Build.SourcesDirectory)/aml_deployments/scheduled_pipeline'

  - task: AzureCLI@2
    # create new schedule (will replace the old one with same name)
    # schedule pinpoints to an exact pipelinejob version (not latest), so updating pipelinejob only is not enough
    displayName: 'Register new schedule version'
    # update if schedule definition or underlying component or pipeline has changed
    condition: and(succeeded(), eq(variables['CheckChangesScheduledPipeline.schedule'], 'true'))
    inputs:
      azureSubscription: '$(AmlServiceConnection)'
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: >
        az ml schedule create --file schedule.yml
        --resource-group $(AmlResourceGroup)
        --workspace-name $(AmlWorkspaceName)
        --set create_job.job="azureml:${{ parameters.aml_job_name }}"
        --set tags.branch=$(Build.SourceBranch)
        --set tags.commit=$(Build.SourceVersion)
      workingDirectory: '$(Build.SourcesDirectory)/aml_deployments/scheduled_pipeline'

